---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="content" content="KSHS Robotics Club Website" />
		<title> Team Website </title>
	</head>
	<body>
		<main>
			<p> Hello world </p>
		</main>
	</body>
</html>
