---
import Layout from "../Layout.astro";
import styles from "../styles/pages/home.module.scss";
---

<Layout title="KSHS Robotics Programs" content="Kelmscott Senior High School Robotics Club Team Website">
    <h1>Kelmscott Senior High School Robotics</h1>
    <p>KSHS has a variety of robotics programs spanning across all grades.
    Along with robotics classes we run enter teams into a variety of <a
    href="https://www.firstinspires.org/">FIRST</a> competitions such as FIRST
    Lego League and FIRST Robotics Competition.</p>
    <h2>FLL</h2>
    <p>KSHS first competed in FLL in 2018 but after 2019 went dormant for
    multiple years. In 2023 KSHS entered a team for the first time in 4 years
    comprised of a group of year 8s and 9s. This year we have started our
    preparatione early and are looking to send multiple teams with students
    ranging from years 7 to 9.</p>
    <h2>FRC</h2>
    <p>This year we also plan to send a team to <a
    href="https://waroboticsplayoffs.com/">WARP</a> to compete in the 2024
    FIRST Robotics competion game. The team will be comprised of older students
    allowing FLL students to transition into it after graduating from the FLL
    program.</p>
</Layout>
